{% extends "base.html" %} {% load static %} {% block contenido %}
<div class="container mx-auto px-4 py-6 bg-gradient-to-tr from-indigo-500 via-sky-400 to-blue-800">
  <h1 class="text-3xl text-center font-bold text-indigo-600 mb-4">
    Productos de {{ titulo_categoria }}
  </h1>

  {% if categorias %}
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 animate-fade-up" style="animation-delay: 0.3s;">
    {% for producto in categorias %}
    <div class="bg-white rounded-xl shadow-md overflow-hidden flex flex-col">
      <img
        src="{{ producto.imagen.url }}"
        alt="{{ producto.nombre }}"
        class="w-full h-48 object-cover"
      />
      <div class="p-4 flex-grow">
        <h2 class="text-xl font-semibold text-indigo-600">
          {{ producto.nombre }}
        </h2>
        <p class="text-gray-700 text-sm my-2">{{ producto.descripcion }}</p>
        <p class="text-indigo-700 font-bold text-lg">${{ producto.precio }}</p>
      </div>
      <div class="p-4">
        <a
          href="{% url 'agregar_al_carrito' producto.id %}"
          class="w-full block text-center bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
        >
          Comprar
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-gray-500 mt-10 text-lg">
    No hay productos disponibles en esta categoría.
  </p>
  {% endif %}
</div>
{% endblock contenido %}
